<!DOCTYPE html>
 
<html lang="en" ng-app="demoApp">
<head>
    <meta charset="utf-8" />
    <title>TypeScript AngularJS Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap-theme.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="MainController">
    <div class="panel">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="(key, value) in vm.elements" ng-include="'keyVal'">
            
          </li>
        </ul>
    </div>


</body>
</html>

<script type="text/ng-template" id="keyVal">
    <ul ng-if="value.sub" class="list-group">
        {{key}}
        <a class="btn btn-default" ng-click="vm.incrementCounter(key)" href="#" role="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
        </a>
        <li class="list-group-item" ng-repeat="(key, value) in value.sub" ng-include="'keyVal'">
            <a class="btn btn-default" ng-click="vm.incrementCounter(key)" href="#" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
            </a>
        </li>
    </ul>
</script>