<script type="text/ng-template" id="keyVal">
    <ul ng-if="value.sub" class="list-group">
        {{key}}
        <a class="btn btn-default" ng-click="vm.incrementCounter(key)" href="#" role="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
        </a>
        <li class="list-group-item" ng-repeat="(key, value) in value.sub" ng-include="'keyVal'">
            <a class="btn btn-default" ng-click="vm.incrementCounter(key)" href="#" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
            </a>
        </li>
    </ul>
</script>